<!DOCTYPE html>
<html>
    <head>
        <title>Table</title>
        <link th:href="@{/staff-stylesheet.css}" rel="stylesheet">
    </head>
    <body class="container">
        <h2>Staff List</h2>
        <table id="table">
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Role</td>
            </tr>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.Name}"></td>
                <td th:text="${employee.age}"></td>
                <td th:text="${employee.age}"></td>
            </tr>

        </table>
    </body>
</html>